*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
header{
    padding: 20px;
    background-color: #0d6efd;
}
.navbar-nav .nav-link{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}
.navbar-nav .nav-link:hover{
    background-color: #00FFFF;
    color: #FFD700;
    text-shadow: 2px 1px #000;
}
section#technologies img{
    width: 80px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
footer{
    background-color: #012345;
}
footer img{
    width: 50px;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer ul{
    list-style: none;
}
footer ul li{
    display: inline-block;
    padding: 20px;
}