*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
header{
    padding: 30px;
    background-color: #06d;
    z-index: 10;
    top: 0;
    left: 0;
    position: sticky;
}
a.navbar-brand{
    color: #fff;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 2px #111;

}
.navbar-nav .nav-item .nav-link:hover{
    color: #FFD700;
}
h2.text-blue{
    color: #06d;
}
#data-section .card h4{
    text-align: center;
}
#data-section .card img{
    width: 200px;
    height: 220px;
    display: block;
    margin: 0 auto;
}